.section {
  padding-top: 100px;
  padding-right: 0;
  padding-bottom: 100px;
  padding-left: 0;
}

.section__inner {
	width: 50%;
	margin: 0 auto;
  padding-top: 50px;
  padding-right: 35px;
  padding-bottom: 50px;
  padding-left: 35px;
}

.section__inner > h1, .section__inner > h2, .section__inner > h3 {
	margin-bottom: 50px;
}

.test {
	background: red;
}

.section_block > .inverted {
	background: black;
}